In [20]:
import numpy as np 
import pandas as pd

#can I only visualize one thing per code block?

train = pd.read_csv("cc-est2022-all.csv", encoding='iso-8859-1')
df = train.copy()

In [14]:
df.head() #see first 5 rows

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,58802,28761,30041,...,854,734,112,97,40,30,22,24,19,11
1,50,1,1,Alabama,Autauga County,1,1,3443,1790,1653,...,83,54,14,9,3,1,9,1,3,1
2,50,1,1,Alabama,Autauga County,1,2,3613,1849,1764,...,81,68,5,8,7,3,0,1,1,2
3,50,1,1,Alabama,Autauga County,1,3,4131,2121,2010,...,81,81,10,10,1,3,2,2,2,1
4,50,1,1,Alabama,Autauga County,1,4,3963,2003,1960,...,72,70,8,9,5,2,2,4,3,2

In [13]:
df.tail() #see last 5 rows

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
238939,50,56,45,Wyoming,Weston County,4,14,590,323,267,...,5,7,0,1,0,0,0,0,0,0
238940,50,56,45,Wyoming,Weston County,4,15,415,231,184,...,6,5,0,0,0,0,0,0,0,0
238941,50,56,45,Wyoming,Weston County,4,16,254,127,127,...,2,0,0,0,0,0,0,0,0,0
238942,50,56,45,Wyoming,Weston County,4,17,141,71,70,...,1,1,0,0,1,0,0,0,0,0
238943,50,56,45,Wyoming,Weston County,4,18,170,58,112,...,0,2,0,0,0,0,0,0,0,0

In [19]:
#df.shape() #n samples x n features 
#df.columns() #columns
df.describe() #general data about the dataset

,SUMLEV,STATE,COUNTY,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
count,238944.0,238944.000000,238944.000000,238944.000000,238944.000000,2.389440e+05,2.389440e+05,2.389440e+05,2.389440e+05,2.389440e+05,...,2.389440e+05,2.389440e+05,238944.000000,238944.000000,238944.000000,238944.000000,238944.000000,238944.000000,238944.000000,238944.000000
mean,50.0,30.264313,103.874046,2.500000,9.000000,1.111792e+04,5.516226e+03,5.601694e+03,4.207822e+03,4.215769e+03,...,9.556311e+02,9.260439e+02,69.419906,70.754219,47.082613,44.237629,20.460585,20.328336,7.335685,7.025680
std,0.0,15.150290,107.549646,1.118036,5.477237,8.203328e+04,4.066279e+04,4.138400e+04,2.912923e+04,2.894135e+04,...,1.430878e+04,1.414976e+04,884.852005,952.843285,579.654569,552.995498,331.760122,330.879327,116.415238,114.066292
min,50.0,1.000000,1.000000,1.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,50.0,18.000000,35.000000,1.750000,4.000000,5.800000e+02,2.870000e+02,2.910000e+02,2.370000e+02,2.390000e+02,...,7.000000e+00,6.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,50.0,29.000000,79.000000,2.500000,9.000000,1.504000e+03,7.510000e+02,7.510000e+02,6.350000e+02,6.390000e+02,...,2.800000e+01,2.500000e+01,2.000000,2.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,50.0,45.000000,133.500000,3.250000,14.000000,4.656000e+03,2.318000e+03,2.338000e+03,1.956000e+03,1.968000e+03,...,1.580000e+02,1.430000e+02,10.000000,9.000000,11.000000,10.000000,3.000000,3.000000,1.000000,1.000000
max,50.0,56.000000,840.000000,4.000000,18.000000,1.001404e+07,4.981058e+06,5.032984e+06,3.552352e+06,3.486252e+06,...,2.280510e+06,2.259591e+06,118979.000000,135024.000000,89013.000000,84397.000000,52678.000000,52123.000000,18766.000000,18165.000000

In [23]:
#what is a dataframe? - own snippet of data
df_empty = pd.DataFrame()
demographics_dict = {'County':['Dupage'], 'Race':['White']}
df_demographics = pd.DataFrame(demographics_dict).reset_index(drop=True)
df_demographics.head()

   County   Race
0  Dupage  White

In [37]:
#selecting some columns
needs=df[['WA_FEMALE','WA_MALE','CTYNAME','TOT_POP']]
needs.head()

#numerical columns
#what does this do?
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
df_num = df.select_dtypes(include=numerics)

#categorical columns
df_cat = df.select_dtypes(include=['object'])

In [41]:
#slicing, not just 5 with head()
#doesn't display, but makes smaller list
#can cut down on only columns I want
#can I index further than just start and end?
df_sub1=df.iloc[0:100,:] #first 100 rows, all columns
df_sub2=df.iloc[:250,[1,8]] #columns at specified indices
#iloc only takes integers as indices 
df_sub1.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,1,1,Alabama,Autauga County,1,0,58802,28761,30041,...,854,734,112,97,40,30,22,24,19,11
1,50,1,1,Alabama,Autauga County,1,1,3443,1790,1653,...,83,54,14,9,3,1,9,1,3,1
2,50,1,1,Alabama,Autauga County,1,2,3613,1849,1764,...,81,68,5,8,7,3,0,1,1,2
3,50,1,1,Alabama,Autauga County,1,3,4131,2121,2010,...,81,81,10,10,1,3,2,2,2,1
4,50,1,1,Alabama,Autauga County,1,4,3963,2003,1960,...,72,70,8,9,5,2,2,4,3,2

In [30]:
'''
columns:
sum of male and female to find total in county
WA white alone
BA black/african american alone
IA american indian & alaska native alone
AA asian alone
NA native hawaiian and other pasific islander alone
H hispanic 
TOM 2 or more races pop
*adding a C to race means "or in combination" ?

state numerical 1-50 by alphabetical
 -- county alphabetical from within that
'''

#modifying columns
#df['column']=df['column'].map({"value":new value, "value": new value})
df.head()

#delete columns
#df=df.drop(['ColumnName'],axis=1)

#split function can split columns for each

def findWhiteFemale(females, population):
    if females > (0.5 * population): 
        return 1
    else:
        return 0
#how can i combine WA_FEMALE and WA_MALE to have white pop?
df['WHITEF']=df['WA_FEMALE', 'TOT_POP'].apply(lambda x: findWhiteFemale(x))

KeyError: ('WA_FEMALE', 'TOT_POP')

In [33]:
#for county, slice all white and all not white
   #must combine male and female
#determine what is majority in county

#combine male and female for each demographic type
df_white=df[(df['WA_MALE']>0) & (df['WA_FEMALE']>0)]